.barra nav {
    background-color: #333;
    border-radius: 5px;
}

.barra ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    padding: 0;
}

.barra li {
    margin: 0;
    padding: 10px;
    
}

.barra a {
    text-decoration: none;
    color: #fff;
}

.barra li:hover{
transition: 250ms;
background-color: #efcdf0;
border-radius: 10px;
}

.En{
align-items: center;

}


.Slides{
position: unset;
    margin: 50px 0 0 200px;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.Slides img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all ease-in-out 0.5s;
}

.Slides img:hover
{
    width: 25%;

}


.cartas {
  display: flex;
}

.card{
    margin: 50px 0 0 50px;
    width: 250px;
    height: 300px;
}

.card .face{
   
   

    position: absolute;
    width: 300px;
    height: 300px;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
    justify-content: space-between;
}

.card  .front{
 
    width: 250px;
    height: 290px;
   transform: perspective(600px) rotateY(0deg);
  
  box-shadow: 15px 10px 100px 15px rgba(19, 5, 15, 0.5)  ;
}

.card .front img{
    
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 10px 15px rgba(255, 22, 208, 0.801))  ;
}

.card .back{
    width: 250px;
    height: 290px;
    transform: perspective(600px) rotateY(180deg);
    background-color: #f8c8eecc;

    color:#030000;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 15px 10px 50px 15px rgba(19, 5, 15, 0.5)  ;
   font-style: italic;
}

.card .back h3{
    font-size: 30px;
   
    letter-spacing: 2px;
    color: #000000;
}
.card .back h5{
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
}



.card:hover .front{
 transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
   }

.card .back button{

    background-color: #333;
    border-radius: 20px;
    width: 200px;
   align-content: center;
}



.Cat {

    margin: 50px 0 0 50px;
    width: 250px;
    height: 300px;
    box-shadow: 15px 10px 50px 15px rgba(19, 5, 15, 0.5)  ;
    border-radius: 20px;
}
.Cat img{

    width: 220px;
    height: 200px;
}


.Cat button {
border-radius: 20px;
    width: 90px;
    background-color: #efcdf0;
}

/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    height: 90vh; /* Asegura que ocupe toda la altura de la pantalla */
}

/* Sección izquierda */
.left-section {
    flex: 1; /* Ocupa el 50% del ancho */
    padding: 20px;

    text-align: center;
}

/* Imagen en la sección izquierda */


/* Sección derecha (fondo) */
.right-section {
    height: 900px;
  flex: 2;
   /* Ocupa el 50% del ancho */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    background-image: url('Imagenes/logo2.png'); /* Cambia 'background.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    
}

/* Texto centrado sobre el fondo */


footer{
align-items: center;
}

.right-section2 {
    height: 900px;
  flex: 2;
   /* Ocupa el 50% del ancho */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    background-image: url('Imagenes/logo.png'); /* Cambia 'background.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    
}

.right-section3 {
    height: 900px;
  flex: 2;
   /* Ocupa el 50% del ancho */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    background-image: url('Imagenes/1111.png'); /* Cambia 'background.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }

  .boton1 {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #edb7f8; /* Color azul */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }
  
  .boton1:hover {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #f84ef8; /* Color azul */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    
  }
   .boton1 a{
    text-decoration: none;
   }

.caja {

    display: flex;
}
   .caja .faces{
   margin: 20px;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    background-color: #333;

    
}

.faces{
    box-shadow: 15px 10px 50px 15px rgba(19, 5, 15, 0.5)  ;
    
}
.caja .faces img{
    height: 190px;
border-radius: 25px;
background-color: #edb7f8; 
width: 190px;

}
.caja pre{
font-size: large;

border-radius: 10px;
color: #ffffff;
}

.caja .faces .boton1 {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #edb7f8; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }
  
  .caja .faces .boton1:hover {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #f84ef8; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    
  }
   .boton1 a{
    text-decoration: none;
   }